<div class="col-md-6" id="products">
  <h3>Products</h3>
  <div class="table">
    <% @products.each do |prod| %>
      <div class="row">
        <span class="col-md-4" >
          <%= "#{prod.name}" %>
        </span >
        <span class="col-md-4">
          <%= "#{prod.price}" %>
        </span>
        <span class="col-md-4">
          <%= link_to 'Add To Cart', cart_elements_path(product_id: prod.id),
                      method: :post,
                      class: 'btn btn-success btn-xs',
                      id: "add_to_cart_#{prod.id}" %>
        </span>
      </div>
    <% end %>
  </div>
</div>

<div class="col-md-6" id="cart">
  <h3>Cart</h3>
  <div class="table">
    <% current_cart.cart_elements.each do |cart_el| %>
      <div class="row">
        <span class="col-md-3" >
          <%= "#{cart_el.product.name}" %>
        </span >
        <span class="col-md-3">
          <%= "#{cart_el.quantity}" %>
        </span>
        <span class="col-md-3">
          <%= "#{cart_el.price}" %>
        </span>
        <span class="col-md-3">
          <%= link_to 'Remove', cart_elements_path(cart_el),
                      method: :delete,
                      class: 'btn btn-danger btn-xs',
                      id: "remove_cart_element_#{cart_el.product.id}" %>
        </span>
      </div>
    <% end %>
    <div class="row" id="cart_price_row">
      <span class="col-md-8" >
        <b>Total:</b>
      </span >
      <span class="col-md-4" >
        <%= current_cart.total_price %>
      </span >
    </div>
  </div>
</div>
